@import 'variables';
@import 'mixins';

.btn {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  font-family: $font-family-base;
  @include font-size(base);
  @include font-weight(semibold);
  
  &-primary {
    @include button-variant($primary-color, $white);
  }
  
  &-secondary {
    @include button-variant($white, #B3B3B3);
  }
}

header .btn {
  width: fit-content;
  padding: $spacer * 0.75;
}
 .cart {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(204, 56, 114);
    color: white;
    border-radius: 50%;
    padding: 4px -2px;
    font-size: 12px;
    font-weight: bold;
    transform: translate(29%, 18%);
    min-width: 20px;
    text-align: center;
  }